keystore "file:good.keystore";
keystorePasswordURL "file:keypass";

grant signedBy "mykey" {
    permission java.lang.RuntimePermission "setIO";
    permission java.lang.RuntimePermission "getProtectionDomain";
};
